
.main-header{
    text-align: center;
    margin: 0;
    padding-top: 0%;
}
.pilih-bangun-datar>h4{
    margin: 0;
    margin-top: 10px;
}
.btn{
    width: 100%;
    height: 30px;
    background-color: lightskyblue;
}
.btn:hover{
    background-color: #03346E;
    color: aliceblue ;
}

.header-segitiga>h1{
    display: flex;
    height: 80px;
    background-color: #03346E;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    font-size: large;
}
.konten-segitiga{
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
}
.gambar-segitiga{
    width: 300px;
    height: 300px;
    align-self: center;
}
.rumus-segitiga{
    text-align: center;
    font-weight: bold;
}

input[type=number]{
    width: 49vw;
    height: 30px;
}
.btn-hitung,.btn-reset{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.button-hitung{
    background-color: lightskyblue;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    color: aliceblue;
    font-weight: bold;
    border: aliceblue;
}
.button-hitung:hover{
    background-color: #03346E;
}

.button-reset{
    background-color: #f7be91;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    color: aliceblue;
    font-weight: bold;
    border: aliceblue;
}
.button-reset:hover{
    background-color: #f18631;
}
.main-content{
    display: flex;
    margin-right: 5px;
}
.main-content-segitiga{
    display: none;
}
.main-content-jajargenjang{
    display: none;
}
.main-content>aside{
    flex: 1;
}

.perhitungan>p{
    margin: 0;
}