.main-header{
    text-align: center;
}

.select-content{
    display: flex;
    flex-direction: column;
}

.select-btn{
    height: 32px;
    border: none;
    border-radius: 0px;
}

.segitiga-color{
    background-color: #A1D6B2;
}

.jajargenjang-color{
    background-color: #CEDF9F;
}

.luas-segitiga-header{
    text-align: center;
    border: 1px solid;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 10px;
    background-color: #A1D6B2;
}

h1{
    margin: 0px;
}

.luas-segitiga-img{
    height: 200px;
    width: 200px;
    background-image: url(https://asset.kompas.com/crops/ZwOr6ZrEtAtid5uZmYhDFijYPa4=/175x161:1573x1094/750x500/data/photo/2022/03/09/62288763c6d64.png);
    background-size: cover;
    background-position: center;
    align-self: center;
}

.luas-segitiga-content{
    display: flex;
    flex-direction: column;
}
.main-content{
    display: flex;
}

.main-content>aside{
    flex: 1;
}

.luas-segitiga-form-header{
    text-align: center;
}

.input-wrapper{
    display: flex;
    justify-content: space-between;
}

.input-wrapper>input{
    width: 65%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.rumus{
    text-align: center;
    font-weight: bold;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}